@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'diatype';
  src:
    url('/fonts/Diatype/ABCDiatypeMono-Regular-Trial.woff2') format('woff2'),
    url('/fonts/Diatype/ABCDiatypeMono-Regular-Trial.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #012727;
  color: white;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .basic-pd {
    @apply px-[24px] max-md:px-[16px];
  }
  .input {
    @apply text-[16px] bg-[#284C4C87]  font-diatype tracking-m3p  placeholder:font-diatype;
  }
  .process_par {
    @apply text-[32px] max-md:text-[24px] max-md:tracking-m3p font-light text-center font-dmSans leading-100;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
.solutions-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 0;
  transition: height 0.25s ease-out;
}
.hover-effect {
  cursor: pointer;
}

.hover-effect:hover {
  text-decoration: underline;
}

.hover-effect:active {
  color: gray;
}
.hover-effect-get-in-touch {
  cursor: pointer;
}

.hover-effect-get-in-touch:hover {
  background-color: #011111;
}

.hover-effect-get-in-touch:active {
  color: gray;
}
.hover-effect-send {
  cursor: pointer;
  transition: transform 0.2s;
}

.hover-effect-send:hover {
  transform: scale(1.1); /* Slightly increase the size */
}

.hover-effect-send:active {
  color: gray;
}
